html{
    font-family: Poppins;
    background-color: rgb(251, 246, 228)
}
a {
    color: rgb(144, 132, 228) !important;
}
h1 {
    font-size: 4em;
    font-weight: bold;
    /* text-align: center; */
    font-family: VT323;
    }
    
    h2 {
    font-size: 18px;
    font-weight: bold;
    /* text-align: center; */
    font-family: VT323;
    }
    
    p {
    font-size: 16px;
    /* text-align: center; */
    line-height: 1.5;
    font-family: Poppins;
    }
    
    a {
    font-size: 20px;
    text-decoration: none;
    color: #000;
    font-family: VT323;
    }
    
    body {
    margin: 0 auto;
    width: 600px;
    }